*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 75vh;
    margin: 40px
}
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
h1{
    text-align: center;
    margin: 12px 0px;
    font-family: 'Caveat', cursive;
}
.myform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myinput{
    width: 40%;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid black;
}
.btn{
    padding: 8px 20px;
    margin: 30px;
    border-radius: 8px;
    border: 2px solid silver;
    cursor: pointer;
}